body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a{
    text-decoration: none;
}

header{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 35em;
    margin: 0 auto;
    align-items: center;
    backdrop-filter: blur(5px);
    position: fixed;
    z-index: 2;
    top: 0;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5em;
}

.navbar nav ol{
    display: flex; 
    gap: 3em;
    align-items: center;
}

.navbar nav ol li{
    list-style-type: none;
}

.navbar nav ol li a{
    color: gold;
    transition: all 0.3s;
}

.navbar nav ol li a:hover{
    border-bottom: 5px gold solid;
    padding: 5px;
    transition: all 0.3s;
}

.portfolio a{
    background-color: gold;
    color: black;
    padding:  7px 10px;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.2s;
}

.portfolio a:hover{
    background-color: white;
}

.head{
    background-image: url('media/camera.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 30px 100px;
    overflow-y: hidden;
}

.head h1{
    font-size: 8em;
    width: 30%;
    margin: 100px 0 0 0.5em;
    color: goldenrod;
    font-weight: bolder;
}

.head h3{
    font-size: 2em;
    margin: 0 0 0 2em;
    padding: 10px;
    border-bottom: 5px solid white;
    width: 40%;
}

.head .headbutton{
    display: flex;
    gap: 2em;
    margin: 30px 0 8em 4em;
}

.head .headbutton a{
    background-color: gold;
    color: black;
    padding:  7px 10px;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.2s;
}

.head .headbutton a:hover{
    background-color: white;
}

.head img{
    position: absolute;
    right: 05em;
    top: 5em;
    width: 38em;
    z-index: 1;
}

.subhead{
    margin: 70px 0 0 10em;
}

.subhead h1{
    margin: 0;
}

.subhead h1 span{
    font-size: 2em;
}

.subhead h2{
    display: flex;
    gap: 0.5em;
    margin: 0;
}

.subhead h2 span{
    color: goldenrod;
    display: block;
    position: relative;
    overflow: hidden;
    height: 1.25em;
}

.subhead h2 span span{
    display: block;
    animation: anime 7s infinite ease-in-out ;
}

.proficient{
    margin-top: 60px;
}

.marquee{
    width: 30%;
}

.proficient .images{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.proficient .images img{
    width: 40px;
}

.skills{
    margin: 70px;
}

.skills .header{
    text-align: center;
    padding: 30px;
    color: goldenrod;
}

.skills .container{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-around;

}

.skills .container .container1, .container4, .container2, .container3{
    width: 19%;
    padding: 20px;
    margin: 0;
    border-radius: 10px;
    border: 3px solid gold;
}

.skills .container .container1:hover, .contain4:hover, .container2:hover, .contain3:hover{
    box-shadow: 0 0 5px 0.4px gold;
    transition: all 0.3s;
}

.skills .container .image{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 0.3em;
}

.skills .container .image img{
    width: 60px;
    height: 60px;
    border-radius: 10px;
}

.skills .container .tools img{
    width: 20px;
    margin-bottom: 10px;
}

.skills .container .tools{
    display: flex;
    gap: 5px;
    align-items: center;
}

.skills .container4 .tools{
    margin-bottom: 30px;
}

.skills .container3 .tools{
    margin-bottom: 52px;
}

.skills .container2 .tools{
    margin-bottom: 50px;
}

.skills .container  h2{
    color: goldenrod;
}

.skills .container h3{
    margin: 0;
}

.portfolio_btn{
    width: 100%;
    margin: 10px auto;
}

.portfolio_btn a{
    color: gold;
    background-color: black;
    padding: 10px 45px;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
}

.portfolio_btn a:hover{
    background-color: white;
    color: goldenrod;
    box-shadow: 0 0 1px 0.5px;
    transition: all 0.3s;
}

.portfolio_btn #portfolio_btn1{
    position: relative;
    transform: translateY(-110px);
}

.work_with_us{
    width: 30%;
    margin: 20px auto;
}

.in_touch .icons{
    display: flex;
    gap: 30px;
}

.in_touch .icons img{
    width: 30px;
}

@keyframes anime{
    0%{
        transform: translateY(0%);
    }
    25%{
        transform: translateY(-100%);
    }
    50%{
        transform: translateY(-200%);
    }
    75%{
        transform: translateY(-300%);
    }
    100%{
        transform: translateY(-400%);
    }
}

.navigate{
    display: none;
}

@media (max-width:700px) {
    .navbar{
        display: none;
    }

    .navbar2{
        display: block;
        z-index: 2;
        width: 10%;
    }

    .navbar2 img{
        width: 26px;
        text-align: right;
        position: relative;
        right: -20px;
        cursor: pointer;
    }

    header{
        backdrop-filter: blur(0);
        background-color: white;
    }

    header .logo{
        position: relative;
        left: -20px;
        width: 50%;
        text-align: left;
        align-items: center;
    }

    header .logo img{
        width: 30px;
        height: 30px;
        filter: drop-shadow(0 1px 0.1px);
    }

    @keyframes open {
        from{left:-300px}
        to{left:0}
    }

    @keyframes close {
        from{left:0px}
        to{left: -300px}
    }
 
    .navigate{
        display: block;
        background-color: white;
        border-radius: 0 30px 30px 0;
        box-shadow: 0 0 3px 0.1px;
        width: 70%;
        position: fixed;
        z-index: 5;
        top: 0;
        height: 100%;
        margin: 0 auto;
        left: -300px;
        animation-duration: 0.4s;
        animation-fill-mode: forwards;
    }

    .navigate .serve{
        margin: 10px 20px;
    }

    .navigate .serve button{
        color: black;
        background-color: rgb(236, 228, 228);
        padding: 16px ;
        border-radius: 10px;
        width: 100%;
        margin-bottom: 10px;
        border: white;
        display: flex;
        font-size: 1.1em;
        align-items: center;
        text-align: center;
    }
    .navigate .serve a{
        color: black;
        padding: 30px;
        text-align: center;
    }

    .navigate .serve img{
        width: 30px;
        margin-right: 20px;
    }

    .navigate p{
        transform: translateY(160px);
        margin-left: 27px;
        font-size: 1.2em;
    }

    .navigate .socials{
        position: absolute;
        bottom: 30px;
        display: flex;
        width: 70%;
        justify-content: space-between;
        margin: 20px auto;
        text-align: center;
        left: 10%;
    }

    .navigate #close{
        width: 30px;
        margin: 30px;
        cursor: pointer;
    }

    .navigate .socials img{
        height: 30px;
    }

    .open {
        display: block;
        animation-name: slideIn;
    }

    .close {
        animation-name: slideOut;
    }

    #navbar.open {
        display: block;
        animation-name: slideIn;
    }

    #navbar.close {
        animation-name: slideOut;
    }

    #overlay {
        position: fixed;
        inset: 0;
        background: rgba(0,0,0,0.4);
        display: none;
        z-index: 1;
        backdrop-filter: blur(25px);
    }


    @keyframes slideIn {
        from { left: -300px; }
        to { left: 0; }
    }

    @keyframes slideOut {
        from { left: 0; }
        to { left: -300px; }
    }
}