body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    scroll-behavior: smooth;
    scrollbar-color: gold;
}

a{
    text-decoration: none;
}

header{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: 0 auto;
    align-items: center;
    backdrop-filter: blur(5px);
    position: fixed;
    z-index: 2;
    top: 0;
}

header .logo{
    display: flex;
    width: 20%;
    text-align: center;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5em;
    width: 40%;
}

.navbar2{
    display: none;
}

.navbar nav ol{
    display: flex; 
    gap: 3em;
    align-items: center;
}

.navbar nav ol li{
    list-style-type: none;
}

.navbar nav ol li a{
    color: gold;
    transition: all 0.3s;
}

.navbar nav ol li a:hover{
    border-bottom: 5px gold solid;
    padding: 5px;
    transition: all 0.3s;
}

.portfolio a{
    background-color: gold;
    color: black;
    padding:  7px 10px;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.2s;
}

.portfolio a:hover{
    background-color: white;
}

.portfolioPage{
    background: radial-gradient(grey, black);
    width: 93%;
    padding: 50px;
    text-align: center;
}

.portfolioPage .porthead{
    color: white;
    height: 200px;
    margin: 10px auto;
}

.portfolioPage .porthead h1{
    font-weight: bold;
    color: gold;
    font-size: 5em;
}

.buttons{
    background-color: grey;
    margin: 55px auto;
    width: 350px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
}

 .buttons button{
    background-color: rgb(83, 82, 82);
    color: white;
    font-weight: 1.1em;
    padding: 10px;
    border: none;
    border-radius: 6px;
    transition: all o.2s;
}

.buttons button:hover{
    background-color: black;
    transition: all 0.2s;
}

.images{
    margin: 100px auto;
    text-align: center;
}


.images .photography, .graphic{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 100px auto;
    gap: 1em;
}

#graphicdesign{
    display: none;
}

.images img{
    width: 23%;
}
footer{
    margin: 0;
    position: relative;
    bottom: 0;
    background-color: black;
    width: 100%;
}

.footer{
    display: flex;
    justify-content: center;
    gap: 5em;
    width: 70%;
    padding: 50px;
    margin: 0 auto;
}

.footer .page{
    margin: 0;
    position: relative;
    top: 0;
    color: white;
}

.footer a{
    color: white;
    text-decoration: underline;
    display: block;
}

.footer .logo{
    display: flex;
    align-items: center;
}

.footer .logo img{
    width: 150px;
}

.footer .logo h1{
    color: white;
    font-size: 3em;
}

.navigate{
    display: none;
}

@media (max-width:900px) {
    body{
        background-color: white;
    }

    .navbar{
        display: none;
    }

    .navbar2{
        display: block;
        z-index: 2;
        width: 10%;
    }

    .navbar2 img{
        width: 26px;
        text-align: right;
        position: relative;
        right: -20px;
        cursor: pointer;
    }

    header{
        backdrop-filter: blur(0);
        background-color: white;
        width: 100%;
    }

    header .logo{
        position: relative;
        left: -20px;
        width: 51%;
        text-align: left;
        align-items: center;
        color: black;
    }

    header .logo img{
        width: 30px;
        height: 30px;
        filter: drop-shadow(0 1px 0.1px);
    }

    .portfolioPage{
        width: 97%;
        padding: 5px;
    }

    .portfolioPage .porthead{
        height: 100px;
    }

    .portfolioPage .porthead h1{
        font-size: 2em;
        margin-top: 100px;
    }

    .buttons{
        width: 90%;
    }

    .images .photography, .graphic{
        width: 90%;
    }

    .images img{
        width: 40%;
    }

       footer{
        background: #161515;
    }
    
    .footer{
        display: block;
        width: 90%;
        padding: 5px;
    }

    .footer .page{
        margin: 20px auto;

        width: 90%;
    }

    .footer .logo img{
        width: 70px;
    }

    .footer .logo h1{
        color: gold;
        font-size: 2em;
    }

    @keyframes open {
        from{left:-300px}
        to{left:0}
    }

    @keyframes close {
        from{left:0px}
        to{left: -300px}
    }
 
    .navigate{
        background-color: white;
        border-radius: 0 30px 30px 0;
        box-shadow: 0 0 3px 0.1px;
        width: 70%;
        position: fixed;
        z-index: 5;
        top: 0;
        height: 100%;
        margin: 0 auto;
        left: -300px;
        animation-duration: 0.4s;
        animation-fill-mode: forwards;
    }

    .navigate .serve{
        margin: 10px 20px;
    }

.navigate .serve a{
        color: black;
        background-color: rgb(236, 228, 228);
        padding: 10px ;
        border-radius: 10px;
        width: 90%;
        margin-bottom: 10px;
        border: white;
        display: flex;
        font-size: 1.1em;
        align-items: center;
        text-align: center;
    }

    .navigate .serve img{
        width: 20px;
        margin-right: 20px;
    }

    .navigate p{
        transform: translateY(300px);
        margin-left: 27px;
        font-size: 1.2em;
        color: black;
    }

    .navigate .socials{
        position: absolute;
        bottom: 30px;
        display: flex;
        width: 70%;
        justify-content: space-between;
        margin: 20px auto;
        text-align: center;
        left: 10%;
    }

    .navigate #close{
        width: 30px;
        margin: 30px;
        cursor: pointer;
    }

    .navigate .socials img{
        height: 30px;
    }

    .open {
        display: block;
        animation-name: slideIn;
    }

    .close {
        animation-name: slideOut;
    }

    #navbar.open {
        display: block;
        animation-name: slideIn;
    }

    #navbar.close {
        animation-name: slideOut;
    }

    #overlay {
        position: fixed;
        inset: 0;
        background: rgba(0,0,0,0.4);
        display: none;
        z-index: 1;
        backdrop-filter: blur(25px);
    }


    @keyframes slideIn {
        from { left: -300px; }
        to { left: 0; }
    }

    @keyframes slideOut {
        from { left: 0; }
        to { left: -300px; }
    }

}